.cart {
    position: fixed;
    top: 0%;
    right: 0px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    height: 100vh;
    z-index: 55;
    transition:  1s; /* Add animation to the right property with a duration of 1 second */

}